.no-data-provided__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background-color: rgba(48, 11, 107, 0.637);
    top: 0;
    left: 0;
}

.no-data-provided {
    max-width: 500px;
    height: 200px;
    background-color: #efefef;
    margin: 0 auto;
    margin-top: 8em;
    overflow: hidden;
}

.no-data-provided h2 {
    background-color: rgb(119, 0, 119);
    padding: 0.3em;
    color: #fff;
}

.no-data-provided p {
    padding: 1em;
    font-size: 23px;
}

.no-data-provided button {
    background-color: rgb(95, 0, 95);
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    display: block;
    margin-left: auto;
    margin-right: 1em;
}