.userForm {
    padding: 1em;
    background-color: #ccc;
}

.userForm input {
    margin: 1em 0;
    height: 2em;
    padding: 0 0.5em;
    width: 100%;
}

.userForm button {
    border: none;
    background-color: blueviolet;
    padding: 1em;
    color: #fff;
    position: relative;
    width: 100%;
}