/* .userForm-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 1em;
    background-color: #ccc;
} */

.userForm {
    padding: 1em;
    background-color: #ccc;
}

.userForm input {
    margin: 1em 0;
    height: 2em;
    padding: 0 0.5em;
    width: 100%;
}

.userForm button {
    border: none;
    background-color: blueviolet;
    padding: 1em;
    color: #fff;
    position: relative;
    width: 100%;
}

/* @media (min-width: 768px) {
    .userForm {
        max-width: 300px;
    }
} */