.user-display__wrapper {
    width: 100%;
}

.user-display__userName, .user-display__userAge {
    background-color: #efefef;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    padding: 1em;
}

.user-display__userAge {
    background-color: #cfcfcf;
}
